<html
xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

  <div class="rankingtool-section">

  <div class="rankingtool-title">
    <h1>{title}</h1>
  </div>

  <div class="rankingtool-subtitle">
    <div class="h4">{subtitle}</div>
  </div>

  <div class="rankingtool-description-phase-one">
    <f:format.html>{descriptionone}</f:format.html>
  </div>

  <div class="rankingtool-description-phase-two">
    <f:format.html>{descriptiontwo}</f:format.html>
  </div>

  <div class="rankingtool-description-phase-three">
    <f:format.html>{descriptionthree}</f:format.html>
  </div>

  <div class="rankingtool-counter-phase-one sticky-top">Aktuell für nächste Phase ausgewählt: <span class="counter-phase-one">0</span></div>
  <div class="rankingtool-counter-phase-two sticky-top"><span class="counter-phase-two">0</span> / <span class="totalcount"></span></div>

  <div class="container">
    <button class="btn btn-secondary control-buttons prev-button">zurück</button>
    <button class="btn btn-secondary control-buttons next-button">weiter</button>
    <button class="btn btn-secondary control-buttons all-button" id="show-all">alle anzeigen</button>
    <button class="btn btn-secondary control-buttons all-button" id="back-to-single">zurück zur Einzelansicht</button>
  </div>

  <f:if condition="{rankingOptions}">

    <div class="all-rankingoptions-form">

      <f:if condition="{sectionCount} > 1">

        <f:for each="{sections}" as="sectiontab" iteration="j">
          <button class="btn btn-info sectiontab-buttons" id="{j.cycle}sectiontab"> {sectiontab.title} </button>
        </f:for>

      </f:if>

        <f:form id="form-rankingtool-basic-selection"
                extensionName="XeniathiemRanking"
                pageUid="4"
                pageType="1622806996"
                action="loadPairs"
                controller="Ajax"
                pluginName="Ajax"
                name="ranking"
                object="{ranking}">

                <table class="rankingoptions-table">

                  <f:for each="{rankingOptions}" as="section" iteration="i">

                  <tbody class="rankingoption-section-divider" id="{i.cycle}section-divider">

                    <f:for each="{section -> v:iterator.chunk(count:3)}" as="rankingOptionChunk">

                      <tr>
                        <f:for each="{rankingOptionChunk}" as="rankingOption">
                          <td class="rankingoptions-table-singlevalue">
                             <f:form.checkbox id="checkbox-ranking-single-option-{rankingOption.uid}" multiple="true" class="rankingoptions-checkbox" property="rankingoptions" value="{rankingOption.uid}" />
                              <f:if condition="{rankingOption.collection}">
                                <f:if condition="{rankingOption.collectiondisplay} === 2">
                                  {rankingOption.collection} -
                                </f:if>
                              </f:if>
                             {rankingOption.title}
                             <f:if condition="{rankingOption.collection}">
                               <f:if condition="{rankingOption.collectiondisplay} === 3">
                                 ({rankingOption.collection})
                               </f:if>
                             </f:if>
                          </td>
                        </f:for>
                      </tr>

                  </f:for>
                </tbody>
                  </f:for>

                </table>

                <button class="btn btn-secondary select-all-rankingoptions">Alle auswählen</button>

                <button type="submit" class="btn btn-info" id="rankingoptions-submit">Auswahl übernehmen und weiter</button>

        </f:form>

    </div>

  </f:if>

</div>

</f:section>
</html>
